<?xml version="1.0" encoding="UTF-8"?>
<server description="mqhttp">

    <featureManager>
        <feature>jakartaee-9.1</feature>
    </featureManager>

    <!-- START JMS CONFIGURATION -->

    <!-- Real projects should make it secure -->
    <variable name="ibmmq.username" value="app" />
    <variable name="ibmmq.password" value="passw0rd" />
    <variable name="keystore.password" value="k3ypassw0rd" />
    <variable name="truststore.password" value="tru5tpassw0rd" />

    <resourceAdapter id="wmqjmsra" location="${server.config.dir}/wmq.jakarta.jmsra.rar">
        <classloader apiTypeVisibility="spec, ibm-api, api, third-party" />
    </resourceAdapter>

    <keyStore id="defaultKeyStore"
        location="client_key.p12"
        password="${keystore.password}"
        type="PKCS12" />

    <keyStore id="defaultTrustStore"
        location="client_key.p12"
        password="${truststore.password}"
        type="PKCS12" />

    <ssl id="defaultSSLConfig"
        keyStoreRef="defaultKeyStore"
        trustStoreRef="defaultTrustStore"
        sslProtocol="TLSv1.2" />

    <ssl id="mqv9_ssl_settings"
        verifyHostname="false"
        keyStoreRef="defaultKeyStore"
        securityLevel="CUSTOM"
        serverKeyAlias="ibmwebspheremqqm1"
        sslProtocol="TLSv1.2"
        enabledCiphers="TLS_RSA_WITH_AES_256_GCM_SHA384"
        trustStoreRef="defaultTrustStore"
        trustDefaultCerts="true">

        <outboundConnection
            clientCertificate="default"
            host="localhost"
            port="1419" />

    </ssl>

    <jmsConnectionFactory jndiName="jms/wmqCF" connectionManagerRef="ConMgr6">
        <properties.wmqjmsra
            channel="DEV.SSL.SVRCONN"
            hostName="localhost"
            port="1419"
            userName="${ibmmq.username}"
            password="${ibmmq.password}"
            queueManager="QM1"
            transportType="CLIENT"
            sslCipherSuite="ANY_TLS12_OR_HIGHER"
            sslConfiguration="mqv9_ssl_settings" />
    </jmsConnectionFactory>

    <connectionManager id="ConMgr6" maxPoolSize="10" />

    <jmsActivationSpec id="libertymq/SampleListenerMDB">
        <properties.wmqjmsra
            channel="DEV.SSL.SVRCONN"
            hostName="localhost"
            port="1419"
            userName="${ibmmq.username}"
            password="${ibmmq.password}"
            queueManager="QM1"
            transportType="CLIENT"
            destinationRef="jms/queue1"
            destinationType="jakarta.jms.Queue"
        />
    </jmsActivationSpec>

    <jmsQueue 
        id="jms/queue1" 
        jndiName="jms/queue1">

        <properties.wmqjmsra 
            baseQueueName="DEV.QUEUE.1" />
    </jmsQueue>

    <!-- END JMS CONFIGURATION -->


    <basicRegistry id="basic" realm="BasicRealm" />

    <httpEndpoint id="defaultHttpEndpoint"
        httpPort="9080"
        httpsPort="9443"
        host="*" />

    <applicationManager autoExpand="true" />

    <webApplication contextRoot="/libertymq" location="libertymq.war" />

</server>