<?xml version="1.0" encoding="UTF-8"?>
<server description="mqhttp">

    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>jndi-1.0</feature>
        <feature>servlet-3.1</feature>
        <feature>jms-2.0</feature>
        <feature>jca-1.7</feature> 
        <feature>transportSecurity-1.0</feature>
    </featureManager>

    <!-- START JMS CONFIGURATION -->

    <!-- Real projects should make it secure -->
    <variable name="ibmmq.username" value="app" />
    <variable name="ibmmq.password" value="passw0rd" />
    <variable name="keystore.password" value="tru5tpassw0rd" />
    <variable name="truststore.password" value="tru5tpassw0rd" />

    <resourceAdapter id="mqjms" location="${server.config.dir}/wmq.jmsra.rar">
        <classloader apiTypeVisibility="spec, ibm-api, api, third-party"/>
    </resourceAdapter>

    <!-- default SSL Configuration -->
    <sslDefault sslRef="defaultSSLConfig" />

    <ssl id="defaultSSLConfig" 
         keyStoreRef="defaultKeyStore" 
         trustStoreRef="defaultTrustStore" 
         clientAuthenticationSupported="false"
         sslProtocol="TLSv1.2" />
    <keyStore id="defaultKeyStore" 
              location="key.p12"
              password="${keystore.password}" 
              type="PKCS12" />
    <keyStore id="defaultTrustStore" 
              location="key.p12"
              password="${truststore.password}" 
              type="PKCS12" />

    <ssl id="mqv9_ssl_settings"
        verifyHostname="false"
        keyStoreRef="defaultKeyStore"
        securityLevel="CUSTOM"
        serverKeyAlias="ibmwebspheremqqm1"
        sslProtocol="TLSv1.2"
        trustStoreRef="defaultTrustStore">

        <outboundConnection 
            host="localhost"
            port="1414" />

    </ssl>

    <jmsConnectionFactory jndiName="jms/wmqCF" connectionManagerRef="ConMgr6">
        <properties.wmqjmsra
            channel="DEV.APP.SVRCONN"
            hostName="localhost"
            port="1414"
            userName="${ibmmq.username}"
            password="${ibmmq.password}"
            queueManager="QM1"
            transportType="CLIENT"
            sslConfiguration="mqv9_ssl_settings" />
    </jmsConnectionFactory>

    <connectionManager id="ConMgr6" maxPoolSize="10" />

    <jmsActivationSpec id="libertymq/SampleListenerMDB">
        <properties.wmqjmsra
            channel="DEV.APP.SVRCONN"
            hostName="localhost"
            port="1414"
            userName="${ibmmq.username}"
            password="${ibmmq.password}"
            queueManager="QM1"
            transportType="CLIENT"
            destinationRef="jms/queue1"
            destinationType="jakarta.jms.Queue"
        />
    </jmsActivationSpec>

    <jmsQueue id="jms/queue1" jndiName="jms/queue1">
        <properties.wmqjmsra baseQueueName="DEV.QUEUE.1" />
    </jmsQueue>

    <!-- END JMS CONFIGURATION -->


    <basicRegistry id="basic" realm="BasicRealm" />

    <httpEndpoint id="defaultHttpEndpoint"
        httpPort="9080"
        httpsPort="9443"
        host="*" />

    <applicationManager autoExpand="true" />

    <webApplication contextRoot="/libertymq" location="libertymq.war" />

</server>