<?xml version="1.0" encoding="UTF-8"?>
<server description="mqhttp">

    <featureManager>
      <feature>jndi-1.0</feature>
      <feature>servlet-3.1</feature>
      <feature>jms-2.0</feature>
      <feature>jca-1.7</feature> 
      <feature>transportSecurity-1.0</feature>
    </featureManager>

    <resourceAdapter id="mqJms" location="${server.config.dir}/resources/wmq.jmsra.rar"/>  

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" host="*"/>

    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" sslProtocol="TLSv1.2"/>
    <keyStore id="defaultKeyStore" location="${server.config.dir}/resources/keystore.p12"  password="passw0rd" type="PKCS12"/>
    <keyStore id="defaultTrustStore" location="${server.config.dir}/resources/keystore.p12"  password="passw0rd" type="PKCS12"/>

    <ssl id="mqv9_ssl_settings"
         verifyHostname="false"
         keyStoreRef="defaultKeyStore"
         securityLevel="CUSTOM"
         serverKeyAlias="default"
         sslProtocol="TLSv1.2"
         enabledCiphers="TLS_RSA_WITH_AES_256_CBC_SHA256"
         trustStoreRef="defaultTrustStore">
         <outboundConnection clientCertificate="default"
                             host="192.168.1.20"
                             port="1414"/>
    </ssl>

    <jmsConnectionFactory jndiName="jms/CF">
      <properties.mqJms hostName="192.168.1.20" queueManager="QM1" channel="LAPTOP.TO.QM1" applicationName="WMQHTTPBridge" port="1414"  userId="brian" sslCipherSuite="TLS_RSA_WITH_AES_256_CBC_SHA256" sslConfiguration="mqv9_ssl_settings"/>
      <connectionManager  maxPoolSize="10" maxIdleTime="15m" connectionTimeout="5s"/>
    </jmsConnectionFactory>

    <jmsQueue id="MQHTTP" jndiName="jms/MQHTTP">
    	<properties.wmqJms baseQueueName="MQHTTP"/>
    </jmsQueue>

    <webApplication location="WMQHTTP.war">
      <classloader classProviderRef="mqJms"/>
      <web-bnd>
         <resource-ref name="jms/WMQHTTPJCAConnectionFactory" binding-name="jms/CF"/>
      </web-bnd>
    </webApplication>
</server>
